<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Ofertantes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Aplicantes a las ofertas </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listaod de ofertantes </h4>
        <p class=“text-muted”>En este apartado encontyrara el listado de ofertantes a su empleo</p>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-xl-6 grid-margin stretch-card" >
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"></h6>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>










