// job-list.component.scss
.card {
  width: 30%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
  .card-body {
    padding: 20px;
    h5 {
      font-weight: bold;
    }
    h6 {
      font-size: 12px;
    }
    p {
      font-size: 14px;
      color: #777;
      margin-bottom: 20px;
    }
    a {
      width: 100%;
    }
  }
}
