<div class="row">
  <div class="col-md-6 mb-4" *ngFor="let offer of jobOffers">
    <div class="card w-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-2">
            <img src="{{offer.logo}}" class="rounded-circle mx-5" alt="Logo de la empresa" width="50" height="50">
          </div>
          <div class="col-10">
            <h5 class="card-title font-weight-bold text-center mx-7">{{offer.name}}</h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <h6 class="font-weight-bold">Descripción</h6>
            <p class="card-text">{{offer.description}}</p>
            <h6 class="font-weight-bold">Posición</h6>
            <p class="card-text">{{offer.position}}</p>
            <h6 class="font-weight-bold">Departamento</h6>
            <p class="card-text">{{offer.department}}</p>
          </div>
          <div class="col-6">
            <h6 class="font-weight-bold">Ubicación</h6>
            <p class="card-text">{{offer.location}}</p>
            <h6 class="font-weight-bold">Salario</h6>
            <p class="card-text">{{offer.salary}}</p>
            <h6 class="font-weight-bold">Descripción del puesto</h6>
            <p class="card-text">{{offer.jobDescription}}</p>
          </div>
        </div>
        <button class="btn btn-primary btn-block mt-3" (click)="offerService.applyJobOffer(offer.id)">Aplicar oferta</button>
      </div>
    </div>
  </div>
</div>
