<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Mis ofertas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ofertas Activas</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ofertas Generadas</h4>
        <p class=“text-muted”>¡Bienvenidos a nuestra sección de ofertas de empleo! Aquí encontrarás todas nuestras ofertas activas y podrás postularte para ser parte de nuestro equipo. Nuestra empresa está siempre en búsqueda de personas talentosas y comprometidas que quieran crecer con nosotros. Revisa las ofertas disponibles y encuentra la que mejor se adapte a tus habilidades y experiencia. ¡Te esperamos!</p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="jobOffers">
  <div class="col-xl-6 grid-margin stretch-card" *ngFor="let job of jobOffers">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{ job.name }}</h6>
        <p>{{ job.description }}</p>
        <p>Department: {{ job.department }}</p>
        <p>Location: {{ job.location }}</p>
        <p>Salary: {{ job.salary }}</p>
        <p>Number of applicants: {{ job.applicants?.length || 0 }}</p>
      </div>
    </div>
  </div>
</div>










