<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <app-cantida-empresas></app-cantida-empresas>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-cantida-usuarios></app-cantida-usuarios>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-numero-empleos></app-numero-empleos>
      </div>
    </div>
  </div>
  <app-ofertas-empleo></app-ofertas-empleo>
</div>
