<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">General pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">Timeline</li>
  </ol>
</nav>

<div class="container-fluid">
  <h2>Verificar empresa</h2>
  <p></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th> #</th>
          <th>Empresa</th>
          <th>Contacto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Google</td>
          <td>Google@google.com</td>
          <td>
            <button type="button" class="btn btn-success btn-separation">Verificar</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Apple</td>
          <td>Apple@apple.com</td>
          <td>
            <button type="button" class="btn btn-success btn-separation">Verificar</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Claro</td>
          <td>claro@claro.com</td>
          <td>
            <button type="button" class="btn btn-success btn-separation">Verificar</button>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Amazon</td>
          <td>Amazon@amazon.com</td>
          <td>
            <button type="button" class="btn btn-success btn-separation">Verificar</button>
          </td>
        </tr>
    </table>
  </div>