// form.component.scss

$primary-color: #007bff;
$secondary-color: #00d9ff;
.form-row {
  display: flex;
}
.form-header {
  text-align: center;
  margin-bottom: 3rem;

  h2 {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: $secondary-color;
    font-weight: lighter;
  }
}

form {
  .form-group {
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: block;
    }

    input,
    textarea {
      margin-bottom: 1.5rem;
      border-radius: 0.25rem;
      border: 1px solid #ccc;
      padding: 0.5rem;
      width: 100%;
    }

    small {
      color: #dc3545;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      display: block;
    }
  }

  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #0069d9;
    }
  }
}
