<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card rounded">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img
              class="img-xs rounded-circle"
              src="https://via.placeholder.com/37x37"
              alt=""
            />
            <div class="ms-2">
              <p>Mike Popescu</p>
              <p class="tx-11 text-muted">1 min ago</p>
            </div>
          </div>
          <div ngbDropdown>
            <button
              class="btn p-0 no-dropdown-toggle-icon"
              type="button"
              id="dropdownMenuButton2"
              ngbDropdownToggle
            >
              <i class="feather icon-more-horizontal icon-lg pb-3px"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i class="feather icon-meh icon-sm me-2"></i>
                <span class="">Unfollow</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i class="feather icon-corner-right-up icon-sm me-2"></i>
                <span class="">Go to post</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i class="feather icon-share-2 icon-sm me-2"></i>
                <span class="">Share</span></a
              >
              <a
                ngbDropdownItem
                class="d-flex align-items-center"
                href=""
                (click)="(false)"
                ><i class="feather icon-copy icon-sm me-2"></i>
                <span class="">Copy link</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="mb-3 tx-14">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus minima delectus nemo unde quae recusandae assumenda.
        </p>
        <img
          class="img-fluid"
          src="https://via.placeholder.com/513x342"
          alt=""
        />
      </div>
      <div class="card-footer">
        <div class="d-flex post-actions">
          <a
            href=""
            (click)="(false)"
            class="d-flex align-items-center text-muted me-4"
          >
            <i class="feather icon-heart icon-md"></i>
            <p class="d-none d-md-block ms-2">Like</p>
          </a>
          <a
            href=""
            (click)="(false)"
            class="d-flex align-items-center text-muted me-4"
          >
            <i class="feather icon-message-square icon-md"></i>
            <p class="d-none d-md-block ms-2">Comment</p>
          </a>
          <a
            href=""
            (click)="(false)"
            class="d-flex align-items-center text-muted"
          >
            <i class="feather icon-share icon-md"></i>
            <p class="d-none d-md-block ms-2">Share</p>
          </a>
        </div>
      </div>
    </div>
  </div>
 
</div>
