<div class="container py-5">
  <div class="text-center">
    <img src="{{ companyForm?.logo }}" alt="Logo de la empresa" class="rounded-circle my-3" width="150" />
    <h2>{{ companyForm?.name }}</h2>
    <p>{{ companyForm?.description }}</p>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="logo" [value]="companyForm?.logo">
    <input type="hidden" formControlName="name" [value]="companyForm?.name">
    <input type="hidden" formControlName="description" [value]="companyForm?.description">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="position">Posición</label>
        <input type="text" formControlName="position" id="position" class="form-control" />

      </div>
      <div class="col-md-6 mb-3">
        <label for="department">Departamento</label>
        <input type="text" formControlName="department" id="department" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="location">Ubicación</label>
        <input type="text" formControlName="location" id="location" class="form-control" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="salary">Salario</label>
        <input type="number" formControlName="salary" id="salary" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción del trabajo</label>
      <textarea formControlName="description" id="description" class="form-control my-5" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
