<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">General pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
  </ol>
</nav>

<div class="container-fluid">
  <h2>Lista de empresas</h2>
  <p>En esta tabla se encuentra la lista de empresas inscritas en la plataforma y sus vacantes disponibles,</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th> #</th>
          <th>Empresa</th>
          <th>Vacantes disponibles</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Google</td>
          <td>5</td>
          <td>
            <button type="button" class="btn btn-danger btn-separation">Borrar</button>
            <button type="button" class="btn btn-secondary btn-separation">Suspender</button>
            <button type="button" class="btn btn-success btn-separation">Activar</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Apple</td>
          <td>2</td>
          <td>
            <button type="button" class="btn btn-danger btn-separation">Borrar</button>
            <button type="button" class="btn btn-secondary btn-separation">Suspender</button>
            <button type="button" class="btn btn-success btn-separation">Activar</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Amazon</td>
          <td>12</td>
          <td>
            <button type="button" class="btn btn-danger btn-separation">Borrar</button>
            <button type="button" class="btn btn-secondary btn-separation">Suspender</button>
            <button type="button" class="btn btn-success btn-separation">Activar</button>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Amazon</td>
          <td>6</td>
          <td>
            <button type="button" class="btn btn-danger btn-separation">Borrar</button>
            <button type="button" class="btn btn-secondary btn-separation">Suspender</button>
            <button type="button" class="btn btn-success btn-separation">Activar</button>
          </td>
        </tr>
    </table>
  </div>