<div class="card rounded">
  <div class="card-body">
    <h6 class="card-title">Empresas Sugeridas</h6>
    <ng-container *ngFor="let offer of jobOffers">
      <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
        <div class="d-flex align-items-center hover-pointer">
          <img class="img-xs rounded-circle" src="{{offer.logo}}" alt="Logo de la empresa">
          <div class="ms-2">
            <p>{{offer.name}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
