<!-- HTML para mostrar la información de la empresa registrada -->
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Información de la empresa</h2>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img
              src="{{ companyForm?.logo }}"
              alt="Logo de la empresa"
              class="rounded-circle my-3"
              width="150"
            />
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>País:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.country }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>NIC:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.nic }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>Nombre:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.name }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>Correo electrónico:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.email }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>Teléfono:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.phone }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <h5>Datos básicos del contacto:</h5>
            </div>
            <div class="col-sm-8">
              <p>{{ companyForm?.contactInfo }}</p>
            </div>
          </div>
          <div class="text-center">
            <a *ngIf="showEditButton" routerLink="/general/registerCompany" class="btn btn-primary"
              >Editar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
