<header>
  <div class="logo-container">
    <img src="logo_empresa.png" alt="Logo de la empresa" class="logo">
  </div>
  <div class="filtro-container">
    <label for="filtro-nombre">Nombre del empleo:</label>
    <input type="text" id="filtro-nombre" placeholder="Filtrar por nombre">

    <label for="filtro-empresa">Empresa:</label>
    <input type="text" id="filtro-empresa" placeholder="Filtrar por empresa">

    <button id="boton-filtrar">Filtrar</button>
  </div>
</header>
<app-slierinicio></app-slierinicio>
<main>
  <div class="ofertas-container">
   
  </div>
</main>

<!-- Plantilla de la modal para mostrar detalles de la oferta y aplicar -->
<div id="modal-oferta" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Detalles de la oferta</h2>
    <!-- Aquí se mostrarán los detalles de la oferta de empleo de forma dinámica con Angular -->
  </div>
</div>
